<p>crear-solicitud works!</p>

<div class="section" id="main">
    <div class="row s12" id="ecommerce-inmuebles">
        <!--Lado izquierdo donde se muestran los filtros de filtros-->
        <div class="col s4 pr-0 hide-on-med-and-down animate fadeLeft">
            <div class="card">
                <div class="card-content">
                    <!--Categorias-->
                    <span class="card-title">Categories</span>
                    <hr class="p-0 mb-10">
                    <ul class="collapsible">
                        <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                    <!--Time Picker-->
                    <span class="card-title">Time picker</span>
                    <hr class="p-0 mb-10">
                    <input type="text" class="datepicker">
                    
                    <!--Prices-->
                    <span class="card-title mt-10">Price</span>
                    <hr class="p-0 mb-10">
                    <div id="test-slider"></div>
                    
                    <form action="#">
                    <p class="range-field">
                        <input type="range" id="test5" min="0" max="100" />
                    </p>
                    </form>
                    <div id="price-slider" class="noUi-target noUi-ltr noUi-horizontal">
                    <div class="noUi-base">
                        <div class="noUi-origin" style="left: 20%;">
                        <div class="noUi-handle noUi-handle-lower" data-handle="0" style="z-index: 5;">
                            <div class="noUi-handle-touch-area"></div>
                            <div class="noUi-tooltip"><span>20</span></div>
                        </div>
                        </div>
                        <div class="noUi-connect" style="left: 20%; right: 20%;"></div>
                        <div class="noUi-origin" style="left: 80%;">
                        <div class="noUi-handle noUi-handle-upper" data-handle="1" style="z-index: 4;">
                            <div class="noUi-handle-touch-area"></div>
                            <div class="noUi-tooltip"><span>80</span></div>
                        </div>
                        </div>
                    </div>
                    </div>
                    
                    <!--Color-->
                    <span class="card-title mt-10">Color</span>
                    <hr class="p-0 mb-10">
                    <form action="#" class="display-grid">
                    <label class="mt-3">
                        <input type="checkbox">
                        <span><i class="material-icons vertical-align-bottom blue-grey-text text-lighten-5"> lens </i>
                        White</span>
                    </label><br>
                    <label class="mt-3">
                        <input type="checkbox">
                        <span><i class="material-icons vertical-align-bottom black-text"> lens </i> Black</span>
                    </label><br>
                    <label class="mt-3">
                        <input type="checkbox">
                        <span><i class="material-icons vertical-align-bottom amber-text"> lens </i> Amber</span>
                    </label><br>
                    <label class="mt-3">
                        <input type="checkbox">
                        <span><i class="material-icons vertical-align-bottom blue-text"> lens </i> Blue</span>
                    </label><br>
                    </form>
    
                    <!---->
                    <span class="card-title mt-10">Brand</span>
                    <hr class="p-0 mb-10">
                    <form action="#" class="display-grid">
                    <label>
                        <input type="checkbox">
                        <span>Apple</span>
                    </label><br>
                    <label>
                        <input type="checkbox">
                        <span>Samsung</span>
                    </label><br>
                    </form>
    
                    <!---->
                    <span class="card-title mt-10">Offers</span>
                    <hr class="p-0 mb-10">
                    <form action="#" class="display-grid">
                    <label>
                        <input type="checkbox">
                        <span>Offer</span>
                    </label><br>
                    <label>
                        <input type="checkbox">
                        <span>No Cost EMI</span>
                    </label><br>
                    <label>
                        <input type="checkbox">
                        <span>Special Price</span>
                    </label><br>
                    <label>
                        <input type="checkbox">
                        <span>Bank Offer</span>
                    </label><br>
                    </form>
                </div>
            </div>
        </div>
        
        <!--Lado derecho donde se muestran los apartamentos-->
        <div class="col s8 pr-0">
            <!--Primer apartamento-->
            <div class="col s12 m4 l4">
                <div class="card animate fadeLeft">
                    <div class="card-content">
                        <p>Smartwatches</p>
                        <span class="card-title text-ellipsis">Smartwatch 2.0 LTE Wifi</span>
                        <img src="https://i.ibb.co/8gtH08x/apa-001.webp" class="responsive-img" alt="">
                        <div class="display-flex flex-wrap justify-content-center">
                            <h5 class="mt-3">$399.00</h5>
                            <a class="mt-2 waves-effect waves-light gradient-45deg-deep-purple-blue btn btn-block modal-trigger z-depth-4" href="#modal1">View</a>
                            </div>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal" tabindex="0">
                    <div class="modal-content pt-2">
                        <div class="row" id="product-one">
                            <div class="col s12">
                                <a class="modal-close right"><i class="material-icons">close</i></a>
                            </div>
                            <div class="col m6 s12">
                                <img src="eCommerce%20Products%20Page%20|%20Materialize%20-%20Material%20Design%20Admin%20Template_files/watch-2.png" class="responsive-img" alt="">
                            </div>
                            <div class="col m6 s12">
                                <p>Smartwatches</p>
                                <h5>Smartwatch 2.0 LTE Wifi</h5>
                                <span class="new badge left ml-0 mr-2" data-badge-caption="">4.2 Star</span>
                                <p>Availability: <span class="green-text">36 Item Available</span></p>
                                <hr class="mb-5">
                                <span class="vertical-align-top mr-4"><i class="material-icons mr-3">favorite_border</i>Wishlist</span>
                                <ul class="list-bullet">
                                    <li class="list-item-bullet">Accept SIM card and call</li>
                                    <li class="list-item-bullet">Make calling instead of mobile phone</li>
                                    <li class="list-item-bullet">Sync music play and sync control music</li>
                                    <li class="list-item-bullet">Sync Facebook,Twiter,emailand calendar</li>
                                </ul>
                                <h5>$399.00 <span class="prise-text-style ml-2">$459.00</span></h5>
                                <a class="waves-effect waves-light btn gradient-45deg-deep-purple-blue mt-2 mr-2">ADD TO CART</a>
                                <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange mt-2">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Segundo apartamento-->
            <div class="col s12 m4 l4">
                <div class="card animate fadeUp">
                    <div class="card-content">
                        <p>Headphone</p>
                        <span class="card-title text-ellipsis">Purple Solo 2 Wireless</span>
                        <img src="https://i.ibb.co/6ZpqfX1/apa-002.jpg" class="responsive-img" alt="">
                        <div class="display-flex flex-wrap justify-content-center">
                            <h5 class="mt-3">$249.00</h5>
                            <a class="mt-2 waves-effect waves-light gradient-45deg-deep-purple-blue btn btn-block modal-trigger z-depth-4" href="#modal2">View</a>
                        </div>
                    </div>
                </div>
    
                <!-- Modal Structure -->
                <div id="modal2" class="modal" tabindex="0">
                    <div class="modal-content">
                        <a class="modal-close right"><i class="material-icons">close</i></a>
                        <div class="row" id="product-two">
                            <div class="col m6 s12">
                                <img src="eCommerce%20Products%20Page%20|%20Materialize%20-%20Material%20Design%20Admin%20Template_files/headphone.png" class="responsive-img" alt="">
                            </div>
                            <div class="col m6 s12">
                                <p>Headphone</p>
                                <h5>Purple Solo 2 Wireless</h5>
                                <span class="new badge left ml-0 mr-2" data-badge-caption="">4.2 Star</span>
                                <p>Availability: <span class="red-text">Out of stock</span></p>
                                <hr class="mb-5">
                                <span class="vertical-align-top mr-4"><i class="material-icons mr-3">favorite_border</i>Wishlist</span>
                                <ul class="list-bullet">
                                    <li class="list-item-bullet">Fine-tuned acoustics for clarity</li>
                                    <li class="list-item-bullet">Streamlined design for a custom-fit</li>
                                    <li class="list-item-bullet">Durable and foldable so you can take them on-the-go</li>
                                    <li class="list-item-bullet">ake calls and control music with RemoteTalk cable</li>
                                </ul>
                                <h5>$249.00 <span class="prise-text-style ml-2">$559.00</span></h5>
                                <a class="waves-effect waves-light btn gradient-45deg-deep-purple-blue mt-2 mr-2">ADD TO CART</a>
                                <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange mt-2">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Tercer apartamento-->
            <div class="col s12 m4 l4">
                <div class="card animate fadeRight">
                    <div class="card-content">
                        <p>Smartphone</p>
                        <span class="card-title">iPhone x</span>
                        <img src="https://i.ibb.co/6ZpqfX1/apa-002.jpg" class="responsive-img" alt="">
                        <div class="display-flex flex-wrap justify-content-center">
                            <h5 class="mt-3">$899.00</h5>
                            <a class="mt-2 waves-effect waves-light gradient-45deg-deep-purple-blue btn btn-block modal-trigger z-depth-4" href="#modal3">View</a>
                        </div>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="modal3" class="modal" tabindex="0" style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);">
                    <div class="modal-content">
                        <a class="modal-close right"><i class="material-icons">close</i></a>
                        <div class="row" id="product-three">
                            <div class="col m6 s12">
                                <img src="eCommerce%20Products%20Page%20|%20Materialize%20-%20Material%20Design%20Admin%20Template_files/iphone-x.png" class="responsive-img" alt="">
                            </div>
                            <div class="col m6 s12">
                                <p>Smartphone</p>
                                <h5>iPhone x</h5>
                                <span class="new badge left ml-0 mr-2" data-badge-caption="">4.2 Star</span>
                                <p>Availability: <span class="green-text">Available</span></p>
                                <hr class="mb-5">
                                <span class="vertical-align-top mr-4"><i class="material-icons mr-3">favorite_border</i>Wishlist</span>
                                <ul class="list-bullet">
                                    <li class="list-item-bullet">Accept SIM card and call</li>
                                    <li class="list-item-bullet">Take photos</li>
                                    <li class="list-item-bullet">Make calling instead of mobile phone</li>
                                    <li class="list-item-bullet">Sync music play and sync control music</li>
                                    <li class="list-item-bullet">Sync Facebook,Twiter,emailand calendar</li>
                                </ul>
                                <h5>$899.00</h5>
                                <a class="waves-effect waves-light btn gradient-45deg-deep-purple-blue mt-2 mr-2">ADD TO CART</a>
                                <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange mt-2">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="col s12 center">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#!">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect">
                        <a href="#!">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
