/* Full-width input fields */
/*
input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
*/  

body{
  background-color: white;
}

.fondo{
  background-color: white;
}

.msg-error {
  color: #c65848;
}
.g-recaptcha.error {
  border: solid 2px #c64848;
  padding: .2em;
  width: 19em;
}

