<!--
<div class="container section">
    <h3 class="center-align" >Registrar Inmueble</h3>
    <div class="row">
      <form  [formGroup]="fgValidador" class="col s12" (ngSubmit)="RegistrarInmueble()">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input formControlName="codigo" id="txtCodigo" type="text" class="validate">
            <label for="txtCodigo">Código</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input formControlName="direccion" id="txtDireccion" type="text" class="validate">
            <label for="txtDireccion">Direccion</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Choose your option</option>
              <option value="15">Boyacá</option>
              <option value="17">Caldas</option>
              <option value="68">Santander</option>
            </select>
            <label>Departamento</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input formControlName="direccion" id="txtDireccion" type="text" class="validate">
            <label for="txtDireccion">Direccion</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">payment</i>
            <input formControlName="id" id="txtId" type="tel" class="validate">
            <label for="txtId">No. de Documento</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input formControlName="celular" id="txtCelular" type="tel" class="validate">
            <label for="txtCelular">Celular</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input formControlName="email" id="txtEmail" type="email" class="validate">
            <label for="txtEmail">Email</label>
          </div>      
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label class="required">
              <input formControlName="recaptcha" id="chkCaptcha" type="checkbox" />
              <span>Yo no soy un robot</span>
            </label>
          </div>      
        </div>
        <div class="row">
          <div class="input-field col s6 center-align" >
            <button [disabled]="!fgValidador.valid " class="btn waves-effect waves-light" type="submit" name="action">REGISTRAR
              <i class="material-icons right">send</i>
            </button>
          </div>      
        </div>
    </form>
    </div>
            
    </div>
  -->