/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.imagenInmueble{
  width: 100px;
  height: 100px;
}

.imagenInmueble1{
  width: 250px;
  height: 250px;
}

.imagenInmueble2{
  width: 400px;
  height: 400px;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}
