    <!-- Tables -->
    <div class="row">
        <div class="col s12">
            <h2 class="section-title">Inmuebles</h2>
  
            <div class="card">
                <div id="table-custom-elements_wrapper" class="dataTables_wrapper no-footer">
                    <div id="table-custom-elements_filter" class="dataTables_filter">
                        <label><input type="search" class="" placeholder="Enter search term" aria-controls="table-custom-elements"></label>
                    </div>
                    <div class="dataTables_scroll">
                        <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px none; width: 100%;">
                            <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 1248px; padding-right: 12px;">
                                <table class="row-border dataTable no-footer" role="grid" style="margin-left: 0px; width: 1248px;" width="100%" cellspacing="0">
                                    <thead>
                                        <tr role="row">
                                            <th class="dataTables-checkbox-column sorting_disabled" rowspan="1" colspan="1" style="width: 40px;" aria-label=""><label><input class="filled-in select-all" name="select_all" value="1" type="checkbox"><span></span></label></th>
                                            <th class="sorting" tabindex="0" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 221px;" aria-label="Código: activate to sort column ascending">Código</th>
                                            <th class="sorting" tabindex="0" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px;" aria-label="Dirección: activate to sort column ascending">Dirección</th>
                                            <th class="sorting" tabindex="0" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px;" aria-label="Valor: activate to sort column ascending">Departamento</th>
                                            <th class="sorting" tabindex="0" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px;" aria-label="Tipo: activate to sort column ascending">Ciudad</th>
                                            <th class="sorting" tabindex="0" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px;" aria-label="Tipo: activate to sort column ascending">Valor</th>
                                            <th class="sorting" tabindex="0" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px;" aria-label="Tipo: activate to sort column ascending">Tipo</th>
                                            <th class="sorting" tabindex="0" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px;" aria-label="Tipo: activate to sort column ascending">Estado</th>
                                            <th class="sorting" tabindex="0" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px;" aria-label="Tipo: activate to sort column ascending">Fotografía</th>
                                            <th class="sorting" tabindex="0" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px;" aria-label="Tipo: activate to sort column ascending">Video</th>
                                        </tr>
                                        </thead>
                                </table>
                            </div>
                        </div>
                        <div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 400px; width: 100%;">
                            <table id="table-custom-elements" class="row-border dataTable no-footer" role="grid" aria-describedby="table-custom-elements_info" style="width: 100%;" width="100%" cellspacing="0">
                                <thead>
                                    <tr role="row" style="height: 0px;">
                                        <th class="dataTables-checkbox-column sorting_disabled" rowspan="1" colspan="1" style="width: 40px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="">
                                            <div class="dataTables_sizing" style="height:0;overflow:hidden;"><label><input class="filled-in select-all" name="select_all" value="1" type="checkbox"><span></span></label></div></th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 221px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Name: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Código</div></th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Direccioón</div></th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Departamento</div></th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Ciudad</div></th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Valor</div></th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Tipo</div></th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Estado</div></th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Fotografía</div></th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 335px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Youtube</div></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of listadoRegistros" role="row" class="odd">
                                        <td class=" dataTables-checkbox-column"><label><input class="filled-in" type="checkbox" name="id[]" value="1"><span></span></label></td>
                                        <td>{{i.codigo}}</td>
                                        <td>{{i.direccion}}</td>
                                        <td>{{i.departamento}}</td>
                                        <td>{{i.ciudad}}</td>
                                        <td>${{i.valor}}</td>
                                        <td><span class="new badge blue" data-badge-caption="">Casa</span><br>
                                            <span class="new badge green" data-badge-caption="">Alquiler</span></td>
                                        <td><span class="new badge red" data-badge-caption="">LIBRE</span></td>
                                        <td><img src="{{i.fotografia}}" class="imagenInmueble" alt=""></td>
                                        <td>{{i.videoYoutube}}</td>
                                    </tr>
                                    <tr *ngFor="let i of listadoRegistros" role="row" class="odd">
                                        <td class=" dataTables-checkbox-column"><label><input class="filled-in" type="checkbox" name="id[]" value="1"><span></span></label></td>
                                        <td>{{i.codigo}}</td>
                                        <td>{{i.direccion}}</td>
                                        <td>{{i.departamento}}</td>
                                        <td>{{i.ciudad}}</td>
                                        <td>${{i.valor}}</td>
                                        <td><span class="new badge blue" data-badge-caption="">Casa</span><br>
                                            <span class="new badge green" data-badge-caption="">Alquiler</span></td>
                                        <td><span class="new badge red" data-badge-caption="">LIBRE</span></td>
                                        <td><img src="{{i.fotografia}}" class="imagenInmueble" alt=""></td>
                                        <td>{{i.videoYoutube}}</td>
                                    </tr>
                                    <tr *ngFor="let i of listadoRegistros" role="row" class="odd">
                                        <td class=" dataTables-checkbox-column"><label><input class="filled-in" type="checkbox" name="id[]" value="1"><span></span></label></td>
                                        <td>{{i.codigo}}</td>
                                        <td>{{i.direccion}}</td>
                                        <td>{{i.departamento}}</td>
                                        <td>{{i.ciudad}}</td>
                                        <td>${{i.valor}}</td>
                                        <td><span class="new badge blue" data-badge-caption="">Casa</span><br>
                                            <span class="new badge green" data-badge-caption="">Alquiler</span></td>
                                        <td><span class="new badge red" data-badge-caption="">LIBRE</span></td>
                                        <td><img src="{{i.fotografia}}" class="imagenInmueble" alt=""></td>
                                        <td>{{i.videoYoutube}}</td>
                                    </tr>
                                    <tr *ngFor="let i of listadoRegistros" role="row" class="odd">
                                        <td class=" dataTables-checkbox-column"><label><input class="filled-in" type="checkbox" name="id[]" value="1"><span></span></label></td>
                                        <td>{{i.codigo}}</td>
                                        <td>{{i.direccion}}</td>
                                        <td>{{i.departamento}}</td>
                                        <td>{{i.ciudad}}</td>
                                        <td>${{i.valor}}</td>
                                        <td><span class="new badge blue" data-badge-caption="">Casa</span><br>
                                            <span class="new badge green" data-badge-caption="">Alquiler</span></td>
                                        <td><span class="new badge red" data-badge-caption="">LIBRE</span></td>
                                        <td><img src="{{i.fotografia}}" class="imagenInmueble" alt=""></td>
                                        <td>{{i.videoYoutube}}</td>
                                    </tr>
                                    <tr *ngFor="let i of listadoRegistros" role="row" class="odd">
                                        <td class=" dataTables-checkbox-column"><label><input class="filled-in" type="checkbox" name="id[]" value="1"><span></span></label></td>
                                        <td>{{i.codigo}}</td>
                                        <td>{{i.direccion}}</td>
                                        <td>{{i.departamento}}</td>
                                        <td>{{i.ciudad}}</td>
                                        <td>${{i.valor}}</td>
                                        <td><span class="new badge blue" data-badge-caption="">Casa</span><br>
                                            <span class="new badge green" data-badge-caption="">Alquiler</span></td>
                                        <td><span class="new badge red" data-badge-caption="">LIBRE</span></td>
                                        <td><img src="{{i.fotografia}}" class="imagenInmueble" alt=""></td>
                                        <td>{{i.videoYoutube}}</td>
                                    </tr>
                                    <tr *ngFor="let i of listadoRegistros" role="row" class="odd">
                                        <td class=" dataTables-checkbox-column"><label><input class="filled-in" type="checkbox" name="id[]" value="1"><span></span></label></td>
                                        <td>{{i.codigo}}</td>
                                        <td>{{i.direccion}}</td>
                                        <td>{{i.departamento}}</td>
                                        <td>{{i.ciudad}}</td>
                                        <td>${{i.valor}}</td>
                                        <td><span class="new badge blue" data-badge-caption="">Casa</span><br>
                                            <span class="new badge green" data-badge-caption="">Alquiler</span></td>
                                        <td><span class="new badge red" data-badge-caption="">LIBRE</span></td>
                                        <td><img src="{{i.fotografia}}" class="imagenInmueble" alt=""></td>
                                        <td>{{i.videoYoutube}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer-wrapper">
                        <div class="dataTables_length" id="table-custom-elements_length">
                            <label>Show 
                                <div class="select-wrapper">
                                    <input class="select-dropdown dropdown-trigger" type="text" readonly="true" data-target="select-options-995eb258-2b84-2116-284b-084e43dc870b">
                                    <ul id="select-options-995eb258-2b84-2116-284b-084e43dc870b" class="dropdown-content select-dropdown" tabindex="0">
                                        <li id="select-options-995eb258-2b84-2116-284b-084e43dc870b0" tabindex="0" class="selected">
                                            <span>10</span>
                                        </li>
                                        <li id="select-options-995eb258-2b84-2116-284b-084e43dc870b1" tabindex="0">
                                            <span>25</span>
                                        </li>
                                        <li id="select-options-995eb258-2b84-2116-284b-084e43dc870b2" tabindex="0">
                                            <span>50</span>
                                        </li>
                                        <li id="select-options-995eb258-2b84-2116-284b-084e43dc870b3" tabindex="0">
                                            <span>100</span>
                                        </li>
                                    </ul>
                                    <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 10l5 5 5-5z"></path>
                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                    </svg>
                                    <select name="table-custom-elements_length" aria-controls="table-custom-elements" class="" tabindex="-1">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div> 
                                entries</label>
                            </div>
                            <div class="paging-info">
                                <div class="dataTables_info" id="table-custom-elements_info" role="status" aria-live="polite">Showing 1 to 10 of 14 entries</div>
                                <div class="dataTables_paginate paging_full" id="table-custom-elements_paginate">
                                    <a class="paginate_button first disabled waves-effect" aria-controls="table-custom-elements" data-dt-idx="0" tabindex="0" id="table-custom-elements_first">First</a>
                                    <a class="paginate_button previous disabled waves-effect" aria-controls="table-custom-elements" data-dt-idx="1" tabindex="0" id="table-custom-elements_previous">Previous</a>
                                    <a class="paginate_button next waves-effect" aria-controls="table-custom-elements" data-dt-idx="2" tabindex="0" id="table-custom-elements_next">Next</a>
                                    <a class="paginate_button last waves-effect" aria-controls="table-custom-elements" data-dt-idx="3" tabindex="0" id="table-custom-elements_last">Last</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

<!-- END: Page Main-->



<div class="section" id="main">
    <div class="row s12" id="ecommerce-inmuebles">
        <!--Lado izquierdo donde se muestran los filtros de filtros-->
        <div class="col s3 hide-on-med-and-down animate fadeLeft">
            <div class="card">
                <div class="card-content">
                    <!--Categorias-->
                    <span class="card-title">Categories</span>
                    <hr class="p-0 mb-10">
                    <ul class="collapsible">
                        <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                    <!--Time Picker-->
                    <span class="card-title">Time picker</span>
                    <hr class="p-0 mb-10">
                    <input type="text" class="datepicker">
                    
                    <!--Prices-->
                    <span class="card-title mt-10">Price</span>
                    <hr class="p-0 mb-10">
                    <div id="test-slider"></div>
                    
                    <form action="#">
                    <p class="range-field">
                        <input type="range" id="test5" min="0" max="100" />
                    </p>
                    </form>
                    <div id="price-slider" class="noUi-target noUi-ltr noUi-horizontal">
                    <div class="noUi-base">
                        <div class="noUi-origin" style="left: 20%;">
                        <div class="noUi-handle noUi-handle-lower" data-handle="0" style="z-index: 5;">
                            <div class="noUi-handle-touch-area"></div>
                            <div class="noUi-tooltip"><span>20</span></div>
                        </div>
                        </div>
                        <div class="noUi-connect" style="left: 20%; right: 20%;"></div>
                        <div class="noUi-origin" style="left: 80%;">
                        <div class="noUi-handle noUi-handle-upper" data-handle="1" style="z-index: 4;">
                            <div class="noUi-handle-touch-area"></div>
                            <div class="noUi-tooltip"><span>80</span></div>
                        </div>
                        </div>
                    </div>
                    </div>
                    
                    <!--Color-->
                    <span class="card-title mt-10">Color</span>
                    <hr class="p-0 mb-10">
                    <form action="#" class="display-grid">
                    <label class="mt-3">
                        <input type="checkbox">
                        <span><i class="material-icons vertical-align-bottom blue-grey-text text-lighten-5"> lens </i>
                        White</span>
                    </label><br>
                    <label class="mt-3">
                        <input type="checkbox">
                        <span><i class="material-icons vertical-align-bottom black-text"> lens </i> Black</span>
                    </label><br>
                    <label class="mt-3">
                        <input type="checkbox">
                        <span><i class="material-icons vertical-align-bottom amber-text"> lens </i> Amber</span>
                    </label><br>
                    <label class="mt-3">
                        <input type="checkbox">
                        <span><i class="material-icons vertical-align-bottom blue-text"> lens </i> Blue</span>
                    </label><br>
                    </form>
    
                    <!---->
                    <span class="card-title mt-10">Brand</span>
                    <hr class="p-0 mb-10">
                    <form action="#" class="display-grid">
                    <label>
                        <input type="checkbox">
                        <span>Apple</span>
                    </label><br>
                    <label>
                        <input type="checkbox">
                        <span>Samsung</span>
                    </label><br>
                    </form>
    
                    <!---->
                    <span class="card-title mt-10">Offers</span>
                    <hr class="p-0 mb-10">
                    <form action="#" class="display-grid">
                    <label>
                        <input type="checkbox">
                        <span>Offer</span>
                    </label><br>
                    <label>
                        <input type="checkbox">
                        <span>No Cost EMI</span>
                    </label><br>
                    <label>
                        <input type="checkbox">
                        <span>Special Price</span>
                    </label><br>
                    <label>
                        <input type="checkbox">
                        <span>Bank Offer</span>
                    </label><br>
                    </form>
                </div>
            </div>
        </div>
        
        <!--Lado derecho donde se muestran los apartamentos-->
        <div class="col s9 pr-0">
            <!--Primer apartamento-->
            <div *ngFor="let i of listadoRegistros" class="col s12 m4 l4">
                <div class="card animate fadeLeft">
                    <div class="card-content">
                        <p>{{i.tipoIn}} - {{i.tipoOf}}</p>
                        <span class="card-title text-ellipsis">{{i.codigo}}</span>
                        <img src="{{i.fotografia}}" class="responsive-img" alt="">
                        <div class="display-flex flex-wrap justify-content-center">
                            <h5 class="mt-3">${{i.valor}}</h5>
                            <a class="mt-2 waves-effect waves-light gradient-45deg-deep-purple-blue btn btn-block modal-trigger z-depth-4" href="#modal1">View</a>
                            </div>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal" tabindex="0">
                    <div class="modal-content pt-2">
                        <div class="row" id="product-one">
                            <div class="col s12">
                                <a class="modal-close right"><i class="material-icons">close</i></a>
                            </div>
                            <div class="col m6 s12">
                                <img src="{{i.fotografia}}" class="responsive-img" alt="">
                            </div>
                            <div class="col m6 s12">
                                <p>{{i.tipoIn}} - {{i.tipoOf}}</p>
                                <h5>{{i.codigo}}</h5>
                                <span class="new badge left ml-0 mr-2" data-badge-caption="">4.2 Star</span>
                                <p>Availability: <span class="green-text">{{i.estado}}</span></p>
                                <hr class="mb-5">
                                <h5>$399.00 <span class="prise-text-style ml-2">$459.00</span></h5>
                                <a class="waves-effect waves-light btn gradient-45deg-deep-purple-blue mt-2 mr-2">SOLICITAR</a>
                                <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange mt-2">CONTACTAR CON EL ASESOR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Segundo apartamento-->
            <div class="col s12 m4 l4">
                <div class="card animate fadeUp">
                    <div class="card-content">
                        <p>Headphone</p>
                        <span class="card-title text-ellipsis">Purple Solo 2 Wireless</span>
                        <img src="https://i.ibb.co/6ZpqfX1/apa-002.jpg" class="responsive-img" alt="">
                        <div class="display-flex flex-wrap justify-content-center">
                            <h5 class="mt-3">$249.00</h5>
                            <a class="mt-2 waves-effect waves-light gradient-45deg-deep-purple-blue btn btn-block modal-trigger z-depth-4" href="#modal2">View</a>
                        </div>
                    </div>
                </div>
    
                <!-- Modal Structure -->
                <div id="modal2" class="modal" tabindex="0">
                    <div class="modal-content">
                        <a class="modal-close right"><i class="material-icons">close</i></a>
                        <div class="row" id="product-two">
                            <div class="col m6 s12">
                                <img src="eCommerce%20Products%20Page%20|%20Materialize%20-%20Material%20Design%20Admin%20Template_files/headphone.png" class="responsive-img" alt="">
                            </div>
                            <div class="col m6 s12">
                                <p>Headphone</p>
                                <h5>Purple Solo 2 Wireless</h5>
                                <span class="new badge left ml-0 mr-2" data-badge-caption="">4.2 Star</span>
                                <p>Availability: <span class="red-text">Out of stock</span></p>
                                <hr class="mb-5">
                                <span class="vertical-align-top mr-4"><i class="material-icons mr-3">favorite_border</i>Wishlist</span>
                                <ul class="list-bullet">
                                    <li class="list-item-bullet">Fine-tuned acoustics for clarity</li>
                                    <li class="list-item-bullet">Streamlined design for a custom-fit</li>
                                    <li class="list-item-bullet">Durable and foldable so you can take them on-the-go</li>
                                    <li class="list-item-bullet">ake calls and control music with RemoteTalk cable</li>
                                </ul>
                                <h5>$249.00 <span class="prise-text-style ml-2">$559.00</span></h5>
                                <a class="waves-effect waves-light btn gradient-45deg-deep-purple-blue mt-2 mr-2">ADD TO CART</a>
                                <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange mt-2">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Tercer apartamento-->
            <div class="col s12 m4 l4">
                <div class="card animate fadeRight">
                    <div class="card-content">
                        <p>Smartphone</p>
                        <span class="card-title">iPhone x</span>
                        <img src="https://i.ibb.co/6ZpqfX1/apa-002.jpg" class="responsive-img" alt="">
                        <div class="display-flex flex-wrap justify-content-center">
                            <h5 class="mt-3">$899.00</h5>
                            <a class="mt-2 waves-effect waves-light gradient-45deg-deep-purple-blue btn btn-block modal-trigger z-depth-4" href="#modal3">View</a>
                        </div>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="modal3" class="modal" tabindex="0" style="z-index: 1003; display: none; opacity: 0; top: 4%; transform: scaleX(0.8) scaleY(0.8);">
                    <div class="modal-content">
                        <a class="modal-close right"><i class="material-icons">close</i></a>
                        <div class="row" id="product-three">
                            <div class="col m6 s12">
                                <img src="eCommerce%20Products%20Page%20|%20Materialize%20-%20Material%20Design%20Admin%20Template_files/iphone-x.png" class="responsive-img" alt="">
                            </div>
                            <div class="col m6 s12">
                                <p>Smartphone</p>
                                <h5>iPhone x</h5>
                                <span class="new badge left ml-0 mr-2" data-badge-caption="">4.2 Star</span>
                                <p>Availability: <span class="green-text">Available</span></p>
                                <hr class="mb-5">
                                <span class="vertical-align-top mr-4"><i class="material-icons mr-3">favorite_border</i>Wishlist</span>
                                <ul class="list-bullet">
                                    <li class="list-item-bullet">Accept SIM card and call</li>
                                    <li class="list-item-bullet">Take photos</li>
                                    <li class="list-item-bullet">Make calling instead of mobile phone</li>
                                    <li class="list-item-bullet">Sync music play and sync control music</li>
                                    <li class="list-item-bullet">Sync Facebook,Twiter,emailand calendar</li>
                                </ul>
                                <h5>$899.00</h5>
                                <a class="waves-effect waves-light btn gradient-45deg-deep-purple-blue mt-2 mr-2">ADD TO CART</a>
                                <a class="waves-effect waves-light btn gradient-45deg-purple-deep-orange mt-2">BUY NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            <div class="col s12 center">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#!">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect">
                        <a href="#!">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
