<!--body class="vertical-layout vertical-menu-collapsible vertical-modern-menu 4-columns" data-open="click" data-menu="vertical-modern-menu" data-col="4-columns" style=""-->
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Hogar Colombia</h1>
    <h3>Descripción</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <h3>Misión</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-6">
            <h3>Visión</h3>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>
<div class="carousel">
          <a class="carousel-item" href="#one!"><img src="https://i.ibb.co/bRwW8c3/imag1.jpg" alt="imag1" border="0"></a> 
          <a class="carousel-item" href="#two!"><img src="https://i.ibb.co/kSnRgKr/imag2.jpg" alt="imag2" border="0"></a> 
          <a class="carousel-item" href="#three!"><img src="https://i.ibb.co/2tTMfHq/imag3.jpg" alt="imag3" border="0"></a>
      </div>     
      <div class="carousel carousel-slider center">
          <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">button</a>
          </div>
          <div class="carousel-item red white-text" href="#one!">
            <h2>First Panel</h2>
            <p class="black-text">This is your first panel</p>
          </div>
          <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="black-text">This is your second panel</p>
          </div>
          <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="black-text">This is your third panel</p>
          </div>
          <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="black-text">This is your fourth panel</p>
          </div>
        </div>      
  
<!-- BEGIN: Page Main-->


<!-- END: Page Main-->


<footer class="page-footer grey darken-3" style="margin-top:0px;padding-left:0px;" id="contact">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Get in touch</h5>
          <div class="row">
              <div class="col s12">
                  <button class="btn waves-effect waves-light white light-green-text text-darken-2" onclick="$crisp.push(['do', 'chat:open'])">
                      Chat with us
                      <i class="mdi mdi-message-text right text-darken-2"></i>
                  </button>
              </div>
          </div>
          <form class="col s12" id="contactForm" onsubmit="return false;">
              <div class="row">
                  <!--<div class="input-field col s6">
                      <i class="mdi mdi-account-circle prefix white-text"></i>
                      <input id="name" name="name" type="text" class="validate white-text">
                      <label for="name" class="white-text">Name</label>
                  </div>-->
                  <div class="input-field col s12">
                      <i class="mdi mdi-email prefix white-text"></i>
                      <input id="email" name="email" type="email" class="validate white-text valid">
                      <label for="email" class="white-text active">Email</label>
                  </div>
                  <div class="input-field col s12">
                      <i class="mdi mdi-pencil prefix white-text"></i>
                      <textarea id="message" name="message" class="materialize-textarea white-text" style="padding-bottom: 0px; height: 23px;"></textarea>
                      <label for="message" class="white-text active">Message</label>
                  </div>
                  <!--<div class="input-field col s12 offset-m6 m6 l12">
                      <img src="?php echo get_stylesheet_directory_uri() ; ?>/captcha.php" class="right" width="45px" style="margin-top:-20px;"/>
                      <i class="mdi mdi-pencil prefix white-text"></i>
                      <input type="text" name="captcha" id="captcha" maxlength="6" size="6" class="validate white-text"/>
                      <label for="captcha" class="white-text">Image Verification</label>
                  </div>-->
                  <div class="col offset-s7 s5">
                      <button class="btn waves-effect waves-light white light-green-text text-darken-2 right" type="submit" onclick="sendEmailViaChat();">Send
                          <i class="mdi mdi-send right text-darken-2"></i>
                      </button>
                  </div>
              </div>
          </form>
        </div>
        <div class="col offset-l2 l4 s12" style="text-align: right;">
          <a href="https://www.android-kiosk.com/contact-us/"><h5 class="white-text">Contact</h5></a>
          <ul>
            <li><span class="white-text">ProCo IT<br>Unit 3 Castle Road, Chelston Business Park, Wellington, Somerset, TA21 9JQ, UK</span></li>
            <li><a href="javascript:$crisp.push(['do', 'chat:open']);" class="white-text">support@android-kiosk.com</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.procoit.kioskbrowser"><img alt="Get it on Google Play" src="https://www.android-kiosk.com/wp-content/themes/androidkioskcom/images/google-play-badge.png" width="128"></a></li>
            <li><a href="javascript:$crisp.push(['do', 'chat:open']);" class="white-text"><i class="small mdi mdi-email right" style="color:white;margin-top:10px;"></i></a><a href="https://www.youtube.com/channel/UCIRzVcBrPTMfCDYQfZJhm6A" target="_blank"><i class="small mdi mdi-youtube-play right" style="color:white; margin-top:10px"></i></a><a href="https://twitter.com/kiosk_browser" target="_blank"><i class="small mdi mdi-twitter right" style="color:white;margin-top:10px;"></i></a></li>
          </ul>
          <span class="white-text right" style="font-size:0.7em;clear:both;">Android, Google Play and the Google Play logo are trademarks of Google Inc.</span>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <span class="white-text">© 2020 <a href="http://www.proco-it.com" class="white-text" target="_blank">ProCo IT</a></span>
      <!--<a class="white-text right" href="http://www.android-kiosk.com/privacy-and-cookie-policy/">Privacy &amp; Cookies Policy</a>-->
      <a href="https://www.android-kiosk.com/privacy/" class="white-text right" title="Privacy Policy">Privacy &amp; Cookies Policy</a>
      </div>
    </div>
  <footer>

    <!--/body-->