<nav>
    <div class="nav-wrapper">
      <a routerLink="inicio" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/adminsitracion/clientes/crear-cliente">Personas</a></li>
        <li><a routerLink="/adminsitracion/inmuebles">Inmuebles</a></li>
        <li><a routerLink="/seguridad/recuperarClave">Recuperar Clave</a></li>
        <li><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/adminsitracion/personas">Personas</a></li>
    <li><a routerLink="/adminsitracion/inmuebles">Inmuebles</a></li>
    <li><a routerLink="/seguridad/recuperarClave">Recuperar Clave</a></li>
    <li><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
</ul>
        